.btn {
  border-radius: 0.3125rem;
  padding: 0.625rem;;
  font-size: 1rem;

  &:disabled{
    cursor: default;
  }

  &_light-blue {   
    background: $blue; 
    color: $white;

    &:disabled{
      background: $blueLight;
    }
  }
}
